@model Entities.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Enregistrer";
}

<h2>@ViewBag.Title.</h2>
<div class="col-lg-push-6">
    <div class="well bs-component">
        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {

            <fieldset>
                <legend>Créer un nouveau Auditeur.</legend>
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Nom, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Nom, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Prenom, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Prenom, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Affectation, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            <select class="form-control" id="Affectation" name="Affectation">
                                <option value="UF">UF</option>
                                <option value="ATR">ATR</option>
                                <option value="STB1">STB1</option>
                                <option value="STB2">STB2</option>
                                <option value="ENEL">ENEL</option>
                                <option value="PROCESS">PROCESS</option>
                                <option value="Maintenance">Maintenance</option>
                                <option value="Magazin">Magazin</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Telephone, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Telephone, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button class="btn btn-default">Annuler</button>
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div> 
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
